.availability-table {
  width: 100%;
  border-collapse: collapse;
}

.availability-table th, .availability-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  font-size: 10px;
  width: 3px;
}

.booked {
  background-color: #b90606;
}

.available {
  background-color: #90EE90;
}
